@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background: #f3f2ef;
  background-image: url(https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

::selection {
  color: aqua;
  background-color: #000;
}

.container {
  margin: auto;
  margin-top: 20px;
  width: 40vw;
  min-height: auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input_div {
  width: 90%;
  padding: 5%;
}

.header_div {
  width: 90%;
  min-height: 6rem;
  padding: 20px;
 
}
.__headtext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: brown;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 5px;
  text-align: center;
}

.wish{
  color: #00002c;
  font-size: 2rem;
  padding:10px;
}
.input_div {
  background: #95dcf1;
}
.input_div input {
  word-wrap: break-word;
  width: 95%;
  padding: 10px;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  color: #00002c;
  font-weight: 500;
  font-size: 20px;
}

.input_div input:focus {
  /* border: 1px solid #45d5c4; */
  outline: none;
}

.input_div i {
  border-radius: 50%;
  background-color: #04aa6d;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 20px;
  margin-left: 2px;
}

#addbtn:hover {
  background: green;
}


.calander-box{
  width: 99%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

ul li {
  list-style-type: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.result_div {
  margin-top: 1%;
  max-height: 20rem;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  display: none;
  padding: 5%;
}
.result_div ul li {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  border-left: 5px solid #43246d;
}
.mytrash {
  color: #000;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

ul li:nth-child(odd) {
  background: #e2f2e2;
}
.result_div ul li:hover {
  background: #c7d8f1;
}


.datetime_para {
  font-size: 16px;
  font-weight: 700;
  color: #04aa6d;
  padding: 5px;
}
.timeleft_para {
  color: #fe0000;
  font-size: 16px;
  padding: 5px;
}

.progressbar {
  width: 80%;
  margin: 10px auto;
  border: solid 1px #000;

}

.progressbar .inner {
  height: 7px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 40s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0f0;
  }

  100% {
    width: 0%;

    background: #f00;
  }
}

/*  css */

#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #0a5f44;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #cbea00;
  box-sizing: border-box;
}

.live_date_time {
  color: #43246d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#live_time,
#live_date,
#live_day {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.__htext {
  color: #464646;
}

.__check{
 width: 16px;
 height: 16px;
}

.__listtext{
  font-size: 25px;
}

.btn button{
  background-color:#d9534f;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
}
.btn span{
  font-style: italic;
  font-family: sans-serif;
}

.strike {
  text-decoration: line-through;
 }
.normal{
  text-decoration: none;
}


@media screen and (max-width: 1000px) {
  body {
    background-color: #f1f3f4;
    background-image: none;
  }
  .container {
    width: 98%;
    margin: auto;
    /* margin-top: 30px; */
  }

  .input_div,
  .result_div {
    width: 90%;
  }
  
  #live_time,
  #live_date,
  #live_day {
    font-size: 1rem;
  }
  .input_div input{
    font-size: 18px;
  }
}
